@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --bg-primary: #fafafa;
  --bg-primary-active: #e5e5e5;
  --bg-primary-hover: #f1f1f1;
  --bg-secondary: #f1f1f1;
  --bg-secondary-active: #d4d4d4;
  --bg-secondary-hover: #e5e5e5;

  --text-primary: #0a0a0a;
  --text-primary-active: #18181b;
  --text-primary-hover: #27272a;
  --text-secondary: #27272a;
  --text-secondary-active: #3f3f46;
  --text-secondary-hover: #52525b;

  --border-primary: #e5e5e5;
  --border-secondary: #d4d4d4;

  --shadow-primary: #cdcccc;
  --shadow-secondary: #afafaf;

  --scrollbar-track: #e5e5e5;
  --scrollbar-thumb: #a3a3a3;
  --scrollbar-thumb-hover: #737373;
}

.dark,
.auto {
  --bg-primary: #0a0a0a;
  --bg-primary-active: #262626;
  --bg-primary-hover: #171717;
  --bg-secondary: #171717;
  --bg-secondary-active: #404040;
  --bg-secondary-hover: #262626;

  --text-primary: #fafafa;
  --text-primary-active: #e5e5e5;
  --text-primary-hover: #d4d4d4;
  --text-secondary: #d4d4d4;
  --text-secondary-active: #a3a3a3;
  --text-secondary-hover: #737373;

  --border-primary: #171717;
  --border-secondary: #262626;

  --shadow-primary: #171717;
  --shadow-secondary: #262626;

  --scrollbar-track: #171717;
  --scrollbar-thumb: #262626;
  --scrollbar-thumb-hover: #262626;
}

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@layer base {
  button,
  input,
  textarea {
    @apply resize-none border-0 bg-transparent text-[var(--text-primary)] outline-none outline-0;
  }

  button,
  a {
    @apply select-none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  p {
    @apply min-h-4;
  }

  body {
    @apply overflow-y-auto overflow-x-hidden bg-[var(--bg-primary)] font-ubuntu text-[var(--text-primary)] antialiased;
  }

  *::-webkit-scrollbar {
    @apply w-3;
  }

  *::-webkit-scrollbar-track {
    @apply bg-[var(--scrollbar-track)];
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-[var(--scrollbar-thumb)];
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-[var(--scrollbar-thumb-hover)];
  }
}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@layer components {
  /* hide the scollbar */
  .scroll-hidden::-webkit-scrollbar {
    @apply h-0 w-0;
  }
  .scroll-hidden-x::-webkit-scrollbar {
    @apply h-0;
  }
  .scroll-hidden-y::-webkit-scrollbar {
    @apply w-0;
  }

  /* image effects */
  .effect-normal {
    @apply relative opacity-[100%] grayscale-[0%] hue-rotate-[0deg] invert-[0%] saturate-[100%] sepia-[0%];
  }
  .effect-normal > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-transparent content-none;
  }
  .effect-aden {
    @apply relative brightness-[120%] contrast-[90%] hue-rotate-[20deg] saturate-[85%];
  }
  .effect-aden > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-gradient-to-r from-[rgba(66,10,14,0.2)_100%] to-[rgba(66,10,14,0)] mix-blend-darken content-none;
  }
  .effect-amaro {
    @apply brightness-[110%] contrast-[90%] hue-rotate-[-10deg] saturate-[150%];
  }
  .effect-brannan {
    @apply relative contrast-[140%] sepia-[50%];
  }
  .effect-brannan > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[rgba(161,44,199,0.31)] mix-blend-lighten content-none;
  }
  .effect-brooklyn {
    @apply relative brightness-[110%] contrast-[90%];
  }
  .effect-brooklyn > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[radial-gradient(circle_at_50%_50%,rgba(168,223,193,0.4)_0%,rgba(183,196,200,0.2)_100%)] mix-blend-overlay content-none;
  }
  .effect-clarendon {
    @apply relative contrast-[120%] saturate-[125%];
  }
  .effect-clarendon > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[rgba(127,187,227,0.2)] mix-blend-overlay content-none;
  }
  .effect-earlybird {
    @apply relative contrast-[90%] sepia-[20%];
  }
  .effect-earlybird > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[radial-gradient(circle_at_50%_50%,rgba(208,186,142,1)_20%,rgba(29,2,16,0.2))] mix-blend-overlay content-none;
  }
  .effect-gingham {
    @apply relative brightness-[105%] hue-rotate-[350deg];
  }
  .effect-gingham > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-gradient-to-r from-[rgba(66,10,14,0.5)_100%] to-[rgba(0,0,0,0)] mix-blend-darken content-none;
  }
  .effect-hudson {
    @apply relative brightness-[120%] contrast-[90%] saturate-[110%];
  }
  .effect-hudson > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[radial-gradient(circle_at_50%_50%,rgba(255,177,166,1)_50%,rgba(52,33,52,1))] opacity-50 mix-blend-multiply content-none;
  }
  .effect-inkwell {
    @apply relative brightness-[110%] contrast-[110%] grayscale-[100%] sepia-[30%];
  }
  .effect-inkwell > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[rgba(0,0,0,0)] content-none;
  }
  .effect-lofi {
    @apply relative contrast-[150%] saturate-[110%];
  }
  .effect-lofi > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[radial-gradient(circle_at_50%_50%,rgba(0,0,0,0)_70%,rgba(34,34,34,1))] mix-blend-multiply content-none;
  }
  .effect-maven {
    @apply relative brightness-[95%] contrast-[95%] saturate-[150%] sepia-[25%];
  }
  .effect-maven > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[rgba(3,230,26,0.2)] mix-blend-hue content-none;
  }
  .effect-perpetua {
    @apply relative;
  }
  .effect-perpetua::after {
    @apply absolute left-0 top-0 h-full w-full bg-gradient-to-b from-[rgba(0,91,154,1)_100%] to-[rgba(61,193,230,0)] opacity-50 mix-blend-soft-light content-none;
  }
  .effect-reyes {
    @apply relative brightness-[110%] contrast-[85%] saturate-[75%] sepia-[22%];
  }
  .effect-reyes > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[rgba(173,205,239,1)] opacity-50 mix-blend-soft-light content-none;
  }
  .effect-stinson {
    @apply relative brightness-[115%] contrast-[75%] saturate-[85%];
  }
  .effect-stinson > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[rgba(240,149,128,0.2)] mix-blend-soft-light content-none;
  }
  .effect-toaster {
    @apply relative brightness-[90%] contrast-[150%];
  }
  .effect-toaster > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[radial-gradient(circle_at_50%_50%,rgba(15,78,128,1)_100%,rgba(59,0,59,1))] opacity-50 mix-blend-screen content-none;
  }
  .effect-walden {
    @apply relative brightness-[110%] hue-rotate-[350deg] saturate-[160%] sepia-[30%];
  }
  .effect-walden > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[rgba(204,68,0,1)] opacity-30 mix-blend-screen content-none;
  }
  .effect-valencia {
    @apply relative brightness-[108%] contrast-[108%] sepia-[8%];
  }
  .effect-valencia > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[rgba(58,3,57,1)] opacity-50 mix-blend-exclusion content-none;
  }
  .effect-xpro2 {
    @apply relative sepia-[30%];
  }
  .effect-xpro2 > img::after {
    @apply absolute left-0 top-0 h-full w-full bg-[radial-gradient(circle_at_50%_50%,rgba(224,231,230,1)_40%,rgba(43,42,161,0.6))] mix-blend-color-burn content-none;
  }

  #root {
    @apply flex h-full min-h-dvh w-full justify-center;
  }

  .mention-suggestion {
    @apply flex flex-col gap-2 rounded-lg bg-[var(--bg-secondary-hover)] p-2;
  }

  .suggestion-item {
    @apply flex cursor-pointer rounded-lg px-2 py-1 hover:bg-[var(--bg-secondary)] active:bg-[var(--bg-secondary)];
  }
}
